@model ViewMovieViewModel
@{
    ViewBag.Title = Model.Movie.Name;
}

<h3><strong>@Model.Movie.Name</strong> (@Model.Movie.ReleaseYear)</h3>

<div class="row" style="padding:10px">
    <div class="col-md-12">
        <div class="col-sm-2">
            <img src="~/images/@Model.Movie.PosterUrl" alt="@Model.Movie.Name" style="width:100%; max-width:300px" class="imageCell" />
        </div>
        <div class="col-sm-10">
            <div class="row">
                <p><strong>Plot:</strong> @Model.Movie.Plot</p>
            </div>
            <div class="row">
                <p><strong>Producer:</strong>
                   <a asp-controller="Producer" asp-action="Detail" asp-route-id="@Model.Movie.Producer.Id">@Model.Movie.Producer.FullName</a>
                </p>
            </div>
            <div class="row">
                <strong>Actors</strong>
                <ul>
                    @foreach (var actor in Model.Movie.Actors)
                    {
                        <li>
                            <a asp-controller="Actor" asp-action="Detail" asp-route-id="@actor.Id">@actor.FullName</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>