@model MovieViewModel
@{
    ViewData["Title"] = "Add Movie";
}


<div class="row roundedEdge-box">
    <div class="col-sm-12 col-xs-12">
        <h3 class="text-muted">Add New Movie</h3>
    </div>
    <form method="post" enctype="multipart/form-data">
        <div class="col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-sm-10 col-xs-12">
                    <label>Poster (.jpg/.png)</label>
                    <span asp-validation-for="@Model.PosterUrl" class="text-danger"></span>
                    <span asp-validation-for="@Model.Poster" class="text-danger"></span>
                    <input class="form-control btn-info" type="file" asp-for="@Model.Poster" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 topMarginOnly">
                    <label asp-for="@Model.Name"></label> 
                    <span asp-validation-for="@Model.Name" class="text-danger"></span>
                    <input class="form-control" asp-for="@Model.Name">
                </div>
                <div class="col-sm-4 topMarginOnly">
                    <label asp-for="@Model.ReleaseYear"></label> (Ex: 2018) 
                    <span asp-validation-for="@Model.ReleaseYear" class="text-danger"></span>
                    <input class="form-control" asp-for="@Model.ReleaseYear" placeholder="YYYY">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 topMarginOnly">
                    <label asp-for="@Model.Plot"> </label> 
                    <span asp-validation-for="@Model.Plot" class="text-danger"></span>
                    <textarea asp-for="@Model.Plot" class="form-control" style="height:150px" rows="5"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 form-inline topMarginOnly zeroPadding">
                    <div class="col-sm-12">
                        <label asp-for="@Model.Producer">Producer (select one):</label>
                        <span asp-validation-for="@Model.Producer" class="text-danger"></span>
                        <select class="form-control" asp-for="@Model.ProducerId" asp-items="@(new SelectList(Model.Producers,"Id", "FullName"))"></select>
                        <button class="btn-sm btn-info" id="btnAddProducer">Add New</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 form-inline topMarginOnly zeroPadding">
                    <div class="col-sm-12">
                        <label>Actors:</label>
                        <span asp-validation-for="@Model.AllActors" class="text-danger"></span>
                        <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"> Select Actors </button>
                        <ul class="dropdown-menu fixed-maxheight auto-scroll">
                            @for (var i = 0; i < Model.AllActors.Count; i++)
                            {
                                <li style="padding:3px 10px 3px 10px;">
                                    <input style="width:15px;height:15px" type="checkbox" asp-for="@Model.AllActors[i].Checked" />
                                    <label asp-for="@Model.AllActors[i].Checked"> @Model.AllActors[i].FullName</label>
                                    <input type="hidden" asp-for="@Model.AllActors[i].Id" />
                                    <input type="hidden" asp-for="@Model.AllActors[i].FullName" />
                                </li>
                            }
                        </ul>
                        <button class="btn-sm btn-info" id="btnAddActor">Add New</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-right">
            <input class="btn-sm btn-success" type="submit" style="width:100px;margin-top:10px;" />
            <input class="btn-sm btn-warning" type="reset" style="width:100px;margin-top:10px;" />
        </div>
    </form>
</div>
