@model PersonDetailsViewModel
@{
    ViewData["Title"] = Model.Name + " Bio";
    var age = "";
    var visibility = "";
    var temp = "";
    var msg = "";
    if (Model.Age > 0)
    {
        age = ", " + Model.Age + " years";
        visibility = "";
    }
    else
    {
        visibility = "hidden";
    }

    if(Model.Movies.Any())
    {
        temp = "";
        msg = "Movies";
    }
    else
    {
        temp = "hidden";
        msg = "No movie infomation available";
    }
}

<div class="jumbotron">
    <div class=" row">
        <div class="col-md-4">
            <div>
                <img class="squareImage" src="~/images/posters/No_Image_Available.gif" />
            </div>
        </div>
        <div class="col-md-8 detailPanel">
            <p><span id="assetName">@Model.Name </span> (@Model.Sex@age)</p>
            <div class="@visibility">
                <strong>Date of birth:</strong> @Model.DOB
                <br /><br />
            </div>
            <strong>Bio:</strong> <span class="textJustify">@Model.Bio</span>
            <br /><br />
            <strong>@msg</strong>
            <div class="@temp">
                <ul>
                    @{if (Model.Movies != null)
                        {
                            foreach (var movie in Model.Movies)
                            {
                                <li><a asp-controller="Listing" asp-action="Movie" asp-route-id="@movie.Id">@movie.Name</a> (@movie.ReleaseYear)</li>
                            }
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
</div>