@model PersonDetailsViewModel
@{
    ViewData["Title"] = Model.Name + " Bio";
}

<div class="jumbotron">
    <div class=" row">
        <div class="col-md-4">
            <div>
                <img class="squareImage" src="~/images/posters/No_Image_Available.gif" />
            </div>
        </div>
        <div class="col-md-8 detailPanel">
            <p><span id="assetName">@Model.Name </span> (@Model.Sex, @Model.Age years)</p>
            <strong>Date of birth:</strong> @Model.DOB
            <br /><br />
            <strong>Bio:</strong> <span class="textJustify">@Model.Bio</span>
            <br /><br />
            <strong>Movies</strong>
            <ul>
                @{if (Model.Movies != null)
                    {
                        foreach (var movie in Model.Movies)
                        {
                            <li><a asp-controller="Listing" asp-action="Movie" asp-route-id="@movie.Id">@movie.Name</a> (@movie.ReleaseYear)</li>
                        }
                    }
                }
            </ul>
        </div>
    </div>   
</div>

